# |
# | ······ Folders
# |
.vagrant/
www/
share/

# |
# | ······ Ansible
# |
ansible/inventory
playbook.retry

# |
# | ······ Wordpress
# |
*.wpress

# |
# | ······ Images
# |
*.gif
*.jpg
*.png
*.ico
